<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Générateur de signature Wenation / Wenation signature generator
    </h1>
    <mat-tab-group>
        <mat-tab label="Wemanity">
            <wemanity-app></wemanity-app>
        </mat-tab>
        <mat-tab label="Wecanopy">
            <wecanopy-app></wecanopy-app>
        </mat-tab>
        <mat-tab label="BareFoot">
            <barefoot-app></barefoot-app>
        </mat-tab>
    </mat-tab-group>